body {
  background-image: url('../images/apple-hangman-1.png');
  margin: auto;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.mybox {
  width: 50%;
  margin: 40px auto;
  text-align: center;
  height: 300px;
}

h1 {
  font-size: 3rem;
  font-family: 'Spicy Rice', cursive;
  color: #CC2473
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

.catch-phrase {
  margin-top: 10px;
}

/* makes up part of Apple Hangman */
.signage {
  /*margin-top: 10px;*/
  margin-left: 95px;
  /*margin-bottom: 28px;*/
  /*margin-bottom: 88px;*/
  /*margin-bottom: 44px;*/
}

.start-game {
  margin-top: 88px;
}

.winner-message {
  /*background-color: #b2dfdb;*/
  /*opacity: 0.8;*/
  background: rgba(102, 182, 209, 0.8); /* wont affect alpha of child elements */
  padding: 2rem;
  position: absolute;
  z-index: 2;
  width: 50%;
}

.winner-message h2 {
  color: #CC2473;
  font-family: 'Spicy Rice', cursive;
}

.loser-message {
  /*background-color: #b2dfdb;*/
  /*opacity: 0.8;*/
  background: rgba(102, 182, 209, 0.8); /* wont affect alpha of child elements */
  padding: 2rem;
  position: absolute;
  z-index: 2;
  width: 50%;
}

.loser-message h2 {
  color: #CC2473;
  font-family: 'Spicy Rice', cursive;
}

.hide-btn {
  font-size: .75rem;
}

/* word being guessed */
#letters {
  margin-top: 30px;
  /*margin-bottom: 40px;*/
  margin-bottom: 62px;
  font-size: 4rem;
  /*color: #3CC9EB;*/
  color: #5c7ee5;
}

#losses,
#wrongLetters,
#guessCount,
#wins {
  font-size: 1.25rem;
  font-weight: bold;
  color: #CC2473;
}

#linkSmall {
  font-size: .5rem
}

footer {
  position: fixed;
  bottom: 0;
}

/*@media only screen and (max-width: 800px) {*/
  /*body {*/
    /*background-image: url('../images/background8x8.png');*/
  /*}*/
/*}*/

/* Extra small devices (phones, 600px and down) */
/*@media only screen and (max-width: 600px) {...}*/

/* Small devices (portrait tablets and large phones, 600px and up) */
/*@media only screen and (min-width: 600px) {...}*/

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* I used this query to taylor the 9.7" iPad using responsive design mode in Safari */
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .mybox {
    /*from 40px*/
    margin: 25px auto;
  }
  .catch-phrase {
    font-size: 2.1rem;
    margin-bottom: 0;
  }
  .signage {
    font-size: 1.1rem;
    margin-left: 70px;
  }
  .start-game {
    margin-top: 45px;
    margin-bottom: 60px;
  }
  /*quick remedy - will fix later*/
  .zork {
    margin-top: 0.5rem;
    margin-bottom: 0.8rem;
  }
  #letters {
    margin-top: 15px; /*from 30px in original code*/
    margin-bottom: 77px; /*62px; /* from $("#letters").css('margin-bottom', 62 + "px"); in game.js */
    font-size: 3.5rem;
    display: none;
  }
}

/* I used this query to taylor the 10.5" iPad Pro using responsive design mode in Safari */
@media only screen and (min-width: 1112px) {
  .catch-phrase {
    font-size: 2.3rem;
    margin-top: 14px;
    margin-bottom: 2px;
  }
  .signage {
    font-size: 1.2rem;
    margin-left: 75px;
  }
  .start-game {
    margin-top: 55px;
  }
  #letters {
    margin-top: 20px;
    margin-bottom: 82px;
  }
  .zork {
    margin-top: 15px;
  }

}

/*I used this query to taylor for my iPad Pro even though it says large laptops and desktops, etc.*/
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .mybox {
    margin: 40px auto;
  }
  .catch-phrase {
    font-size: 2.8rem;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .signage {
    font-size: 1.5rem;
    margin-left: 95px;
  }
  .start-game {
    margin-top: 80px;
  }
  /*return to normal from earlier media query awful solution*/
  .zork {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
  }
  #letters {
    margin-top: 30px; /*back to original code*/
    margin-bottom: 85px;
    font-size: 4rem; /*back to original code*/
  }
}

/* Extra large devices (large laptops and desktops, 1400px and up) */
@media only screen and (min-width: 1400px) {
  .catch-phrase {
    font-size: 3rem;
  }
  .signage {
    margin-top: 10px;
  }
  .start-game {
    margin-bottom: 78px;
  }
  #letters {
    margin-bottom: 103px;
  }
}