body {
  background-image: url('../images/background-03.png');
  margin: auto;
  padding: 0;
}

.mybox {
  width: 50%;
  margin: 40px auto;
  text-align: center;
  height: 300px;
}

h1 {
  font-size: 3rem;
  font-family: 'Spicy Rice', cursive;
  color: #CC2473
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

.winner-message {
  background-color: #b2dfdb;
  opacity: 0.8;
  padding: 2rem;
}

.winner-message h2 {
  color: #CC2473;
  font-family: 'Spicy Rice', cursive;
}

.loser-message {
  background-color: #b2dfdb;
  opacity: 0.8;
  padding: 2rem;
}

.loser-message h2 {
  color: #CC2473;
  font-family: 'Spicy Rice', cursive;
}


.hide-btn {
  font-size: .75rem;
}

/* word being guessed */
#letters {
  font-size: 4rem;
  color: #3CC9EB
}

#losses,
#wrongLetters,
#guessCount,
#wins {
  font-size: 1.25rem;
  font-weight: bold;
  color: #CC2473;
}

#linkSmall {
  font-size: .5rem
}

footer {
  position: fixed;
  bottom: 0;
}

@media only screen and (max-width: 800px) {
  body {
    background-image: url('../images/background8x8.png');
  }
}